$color-orange-primary: #DA8434;
$color-orange-secondary: #D17927;
$color-black-primary: #252628;
$color-black-secondary: #636363;
$color-gray-primary: #E5E5E5;
$color-gray-secondary: #BBBBBB;
$color-white: #FFFFFF;
$color-heading: $color-black-primary;
$color-body: $color-black-secondary;